.Button
  display: flex
  align-items: center
  justify-content: center
  padding 22px 80px
  border-radius: 4px
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3)
  background-color: rgb(167, 35, 35)
  font-size: 14pt
