.SpotlightPage
  width 100%
  height 100%
  position relative

  .banner
    position: absolute
    left: 80px
    right 80px
    bottom 55px
    height 200px
    background: rgba(6, 14, 31, 0.8)
    border-radius: 2px
    padding 42px

    .header
      border-bottom: 1px solid rgba(181, 181, 181, 0.487)
      height 24px
      display flex
      justify-content: flex-end

      img
        width 80px
        position relative
        top -18px

    .content
      padding-top 20px;
      display flex
      justify-content: space-between

      .title
        font-size: 32pt
