.ViewOptions
  height 60px
  font-size 30pt
  display flex
  background: rgb(11, 40, 70)


  > *
    display flex
    align-items: center
    justify-content: center
    padding 0 22px
    cursor: pointer

  .active
    background: rgb(11, 31, 55)
    color: rgba(222, 222, 222, 0.2)
