.Sidebar
  width 232px
  padding-top: 120px
  position: relative
  flex none

  .logo
    width 100px
    position: absolute
    top -10px
    left 99px

  .search
    position absolute
    left: 50px
    bottom: 50px
    display: flex
    align-items: center
    gap 15px
    font-size 16pt

    .searchicon
      font-size 22pt
      display flex
      align-items: center
