.Header
  position absolute
  top 0px
  left 0px
  width 100%
  display: flex
  align-items: center
  justify-content: space-between
  color rgba(199, 199, 199, 0.649)
  font-size: 16pt
  font-weight: medium
  padding 32px 80px
  padding-bottom: 0;

  .leftStuff
    display flex
    align-items: center
    gap 12px

  .flightTrackerLink
    color: rgb(2, 100, 227)
    font-weight: bold
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.8);
    cursor: pointer
